$color-white: #f7f7f7;
$color-black: #1D1D1D;
$color-lightgray: #CACACA;
$color-gray: #888888;

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeue.otf") format("opentype");
}

$text-font: 'Helvetica Neue', sans-serif;

html, body {
	top: 0;
	left: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
}

.container {
	top: 0;
	left: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display:table;
	background: $color-lightgray no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	.text-container {
		display:table-cell;
		vertical-align:middle;
		.text {
			position: relative;
			font-family: $text-font;
			color: $color-white;
			text-shadow: 1px 1px 1px $color-black;
			text-align: center;
			margin-left:auto;
			margin-right:auto;
			#main {
				font-size: 150px;
			}
			#sub {
				font-size: 100px;
			}
		}
	}
	.menu {
		position: absolute;
		width: 0px;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		background: rgba(247,247,247,0.6);
		// box-shadow: 2px 0px 0px 0px rgba(247,247,247,0.4);
		font-family: $text-font;
		color: $color-black;
		transition:width 0.7s;
		-webkit-transition:width 0.7s;
		overflow:hidden;
		h1, p {
			text-align: center
		}
		h1 {
			font-size: 40px;
			u {			
				text-decoration: none;	
				border-bottom: solid 1px rgba(29,29,29,0.8);
			}
		}
		p {
			font-size: 30px;
			cursor: pointer;
		}
		.scenery-button {
			&:hover {
				color:$color-gray;
				transition:color 0.3s;
				-webkit-transition:color 0.3s;
			}
		}
		.option-text {
			display:none;
		}
		.option-header {
		    overflow: hidden;
		    white-space: nowrap;
		    cursor: auto;
		}
		.input-wrap {
			text-align: center;
			input {
				margin: 6px auto;
				font-size: 20px;
				font-family: $text-font;
				text-align: center;
				background: transparent;
			}
			.save-button {
				border: solid 1px $color-lightgray;
				text-align: center;
				background: transparent;
				font-size: 20px;
				font-family: $text-font;
				cursor:pointer;
				&:hover {
					border: solid 1px $color-black;
					transition:border 0.4s;
					-webkit-transition:border 0.4s;
				}
			}
			.display-button {
				border: solid 1px $color-lightgray;
				text-align: center;
				background: transparent;
				font-size: 25px;
				font-family: $text-font;
				cursor:pointer;
				padding: 16px;
				&:hover {
					border: solid 1px $color-black;
					transition:border 0.4s;
					-webkit-transition:border 0.4s;
				}
			}
		}
		.info-text {
			display: none;
			margin: 0 24px;
		}
		.info-wrap {
			#description {
				font-size: 22px;
				text-align: left;
				cursor: auto;
				margin-top: 1em;
			    overflow: hidden;
				// display: -webkit-box;
				-webkit-line-clamp: 10;
				-webkit-box-orient: vertical;
				word-spacing: -1px;
			}
		}
			
		.extra {
			position: absolute;
			left: 0;
			bottom: 0;
			height: 125px;
			width: 100%;
			font-size: 30px;
			margin-left: auto;
			margin-right: auto;
			display: block;
			.wrap {
				margin:auto;
				max-width: 98%;
				display: block;
				.extra-container {
					font-size: 30px;
					width: 48%;
					height: 100%;
					display: inline-table;
					.button-container {
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						i {
							cursor:pointer;
						}
						.back-button {
							display: none;
						}
					}
				}
			}
		}
	}
	#age-input {
		display: none;
		transition:all 0.2s;
		-webkit-transition:all 0.2s;
	}
}

// .expanded {
// 	display: block;
// 	width: 280px;
// 	transition:width 0.7s;
// 	-webkit-transition:width 0.5s;
// }