$color-white: #f7f7f7;
$color-black: #1D1D1D;

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeue.otf") format("opentype");
}

$text-font: 'Helvetica Neue', sans-serif;

html, body {
	top: 0;
	left: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
}

.container {
	top: 0;
	left: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display:table;
	background: gray;
	.text-container {
		display:table-cell;
		vertical-align:middle;
		.text {
			position: relative;
			font-family: $text-font;
			color: $color-white;
			text-shadow: 1px 1px 1px $color-black;
			text-align: center;
			margin-left:auto;
			margin-right:auto;
			#main {
				font-size: 150px;
			}
			#sub {
				font-size: 100px;
			}
		}
	}
}